/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

body {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
}


/* ==========================================================================
   #BURGER MENU
   ========================================================================== */

/* variables */
:root {
    --sidebar-background-color: #000043;
    --sidebar-burger-hover-color: #e35658;
    --sidebar-cross-color: #e4e3d9;
    --sidebar-item-list-color: #e4e3d9;
    --sidebar-item-hover-and-focus-color: #e35658;

    /* old default colors */
    --old-sidebar-background-color: #373a47;
    --old-sidebar-bars-hover-color: #a90000;
    --old-sidebar-cross-color: #bdc3c7;
    --old-sidebar-item-list-color: #b8b7ad;
    --old-sidebar-item-focus-color: #c94e50;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: var(--sidebar-background-color);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: var(--sidebar-burger-hover-color);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: var(--sidebar-cross-color);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: var(--sidebar-background-color);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: var(--sidebar-background-color);
}

/* Wrapper for item list */
.bm-item-list {
    color: var(--sidebar-item-list-color);
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
}


/*Burger menu custom styles*/
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

.right .bm-burger-button {
    left: initial;
    right: 36px;
}

.bm-burger-bars {
    background: var(--sidebar-background-color);
}

.bm-morph-shape {
    fill: var(--sidebar-background-color);
}

.bm-menu {
    background: var(--sidebar-background-color);
}
.bm-menu a {
    color: var(--sidebar-item-list-color);

}
.bm-menu a:hover,
.bm-menu a:focus {
    color: var(--sidebar-item-hover-and-focus-color);
}

.bm-item-list a {
    padding: 0.8em;
}
.bm-item-list a span {
    margin-left: 20px;
    font-weight: 100;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.bm-item:focus {
    outline: none;
}

.bm-menu-wrap {
    bottom: 0;
    left: 0;
}
